@page "/loans"
@using LAP_Skiverleih.Models
@using LAP_Skiverleih.Services.Interfaces
@inject ILoanService loanService
@inject NavigationManager navMan

<PageTitle>Loans</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Loans</h1>


        <h3>New loan: <button class="btn btn-success" @onclick="() => NavToNewLoan()">+</button></h3>

        @if (loans == null)
        {
            <p><em>No loans!</em></p>
        }
        else
        {
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Customer</th>
                        <th>Loan date</th>
                        <th>Return date</th>
                        <th>Price</th>
                        <th>Returned</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var loan in loans)
                    {
                        <tr>
                            <td>@loan.Article.Title</td>
                            <td>@loan.Customer.FirstName @loan.Customer.LastName</td>
                            <td>@loan.LoanDate.ToShortDateString()</td>
                            @if (loan.ReturnDate != null)
                            {
                                <td>@loan.ReturnDate.Value.ToShortDateString()</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td>@CalcPrice(loan)€</td>
                            @if (loan.Article.LoanedOut == false)
                            {
                                <td style="color: green">✔</td>
                            }
                            else
                            {
                                <td><button class="btn btn-dark" @onclick="() => ReturnLoan(loan)">↩</button></td>
                            }
                            <td><button class="btn btn-danger" @onclick="() => DeleteLoan(loan)">🗑️</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
        <h4>You have to be logged in to view this page!</h4>
    </NotAuthorized>
</AuthorizeView>



@code {
    private List<Loan> loans;

    protected override void OnInitialized()
    {
        loans = loanService.GetLoans();
    }

    private void NavToNewLoan()
    {
        navMan.NavigateTo("/loans/new", true);
    }

    private void DeleteLoan(Loan loan)
    {
        loanService.DeleteLoan(loan);
        loans = loanService.GetLoans();
    }

    private void ReturnLoan(Loan loan)
    {
        loan.ReturnDate = DateTime.Now.Date;
        loan.Article.LoanedOut = false;
        loans = loanService.GetLoans();
    }

    private decimal CalcPrice(Loan loan)
    {
        if(loan.ReturnDate == null)
        { 
            loan.ReturnDate = DateTime.Now;
        }
        TimeSpan days = loan.ReturnDate.Value - loan.LoanDate;
        decimal price = loan.Article.PricePerDay * days.Days;
        if(price == 0)
        {
            price = loan.Article.PricePerDay;
        }
        return price;
    }
}
